#ext-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    row-gap: 50px;
}

#ext-holder > p {
    font-style: italic;
}

.ext-table-side {
    width: 49%;
    overflow-y: auto;
}

.ext-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height: 60%;
}

#ext-search-bar {
    display: flex;
    background-color: white;
    padding: 0px 10px;
    width: 100%;
    border-radius: 50px;
    column-gap: 10px;
    align-items: center;
    border: solid black 1px;
}

#ext-search-bar > input {
    border: none;
    height: 30px;
    width: 100%;
}

#ext-search-bar > input {
    border: none;
    height: 30px;
    width: 100%;
}

#ext-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    display: inline-table;
    height: min-content;
}

#ext-table > caption {
    font-size: large;
}

#ext-tbody > tr > th {
    background-color: dimgray;
    padding: 5px;
    border-top: solid black 1px;
}

#ext-nombre,
#ext-uid {
    width: 25%;
}

#ext-cantidad,
#ext-precio {
    width: 15%;
}

#ext-eliminar,
#ext-agregar {
    width: 10%;
}

#ext-tbody > tr:nth-of-type(even) {
    background-color: white;
}

#ext-tbody > tr:nth-of-type(odd):not(:first-child) {
    background-color: darkgray;
}

#ext-tbody > tr > td {
    padding: 2.5px;
}

.ext-col {
    white-space: nowrap;
}

.ext-btn {
    width: 130px;
    padding: 10px 0px;
    border-radius: 10px;
    border-style: solid;
    border: solid 1px black;
}

#ext-tbody > tr > th,
#ext-tbody > tr > td {
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ext-tbody > tr > th:last-child,
#ext-tbody > tr > td:last-child {
    border-right: solid black 1px;
}

#ext-tbody > tr:not(:first-child) > td:nth-last-child(-n + 2) {
    text-align: center;
}

#ext-tbody > tr > th:first-child {
    border-radius: 15px 0px 0px 0px;
}

#ext-tbody > tr > th:last-child {
    border-radius: 0px 15px 0px 0px;
}

#ext-tbody > tr:last-child {
    border-radius: 0px 0px 15px 15px;
}

#ext-tbody > tr:last-child > td:last-child {
    border-radius: 0px 0px 15px 0px;
}

#ext-tbody > tr:last-child > td:first-child {
    border-radius: 0px 0px 0px 15px;
}

.ext-col > button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
