#entry-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

#entry-items {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
    max-width: 500px;
    align-items: center;
}

#entry-items > input {
    width: 100%;
    border-style: none;
    border: solid black 1px;
    padding: 10px;
}

#entry-items > button {
    width: 150px;
    padding: 10px 0px;
    border-radius: 10px;
    border-style: solid;
    border: solid 1px black;
}
