#inv-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    row-gap: 50px;

    overflow-y: auto;
}

#inv-search-bar {
    display: flex;
    background-color: white;
    padding: 0px 10px;
    width: 100%;
    border-radius: 50px;
    column-gap: 10px;
    align-items: center;
    border: solid black 1px;
}

#inv-search-bar > input {
    border: none;
    height: 30px;
    width: 100%;
}

#inv-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

#inv-tbody > tr > th {
    background-color: dimgray;
    padding: 5px;
    border-top: solid black 1px;
}

#inv-nombre,
#inv-uid {
    width: 25%;
}

#inv-cantidad,
#inv-precio {
    width: 15%;
}

#inv-eliminar,
#inv-agregar {
    width: 10%;
}

#inv-tbody > tr:nth-of-type(even) {
    background-color: white;
}

#inv-tbody > tr:nth-of-type(odd):not(:first-child) {
    background-color: darkgray;
}

#inv-tbody > tr > td {
    padding: 2.5px;
}

.inv-col {
    white-space: nowrap;
}

#inv-tbody > tr > th,
#inv-tbody > tr > td {
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#inv-tbody > tr > th:last-child,
#inv-tbody > tr > td:last-child {
    border-right: solid black 1px;
}

#inv-tbody > tr:not(:first-child) > td:nth-last-child(-n + 2) {
    text-align: center;
}

#inv-tbody > tr > th:first-child {
    border-radius: 15px 0px 0px 0px;
}

#inv-tbody > tr > th:last-child {
    border-radius: 0px 15px 0px 0px;
}

#inv-tbody > tr:last-child {
    border-radius: 0px 0px 15px 15px;
}

#inv-tbody > tr:last-child > td:last-child {
    border-radius: 0px 0px 15px 0px;
}

#inv-tbody > tr:last-child > td:first-child {
    border-radius: 0px 0px 0px 15px;
}

.inv-col > button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
  }
